 <h1>スケジュール編集</h1>
 <%= form_with model:@task do |t| %>
  
 <table>
  <tr>
   <th><%= t.label :title,"タイトル" %></th>
   <td><%= t.text_field :title %></td>
  </tr>
 
  <tr>
   <th><%= t.label :created_at,"スケジュール開始日" %>
   <td><%= t.date_field :created_day %></td>
  </tr>

  <tr> 
   <th><%= t.label :finished_day,"スケジュール終了日" %></th>
   <td><%= t.date_field :finished_day %></td>
  </tr>

  <tr>
   <th><%= t.label :is_all_day,"終日かどうか" %></th>
   <td><%= t.check_box :is_all_day %></td>
  </tr>

  <tr>
   <th><%= t.label :memo,"メモ" %></th>
   <td><%= t.text_area :memo %></td>
  </tr>
 </table>
 
  <ul>
   <li><%= task.submit"編集を完了する" %></li>
   <li><%= link_to"スケジュール一覧画面に戻る",tasks_index_path %></li>
  </ul>
<% end %>
