<%= render "shared/partial-header" %>

<h3>スケジュール詳細</h3>

 <table>
  <tr>
   <th>タイトル</th>
   <td><%= @task.title %></td>
  </tr>
 
  <tr>
   <th>スケジュール開始日</th>
   <td><%= @task.created_at.to_s(:datetime_jp) %></td>
  </tr>

  <tr> 
   <th>スケジュール終了日</th>
   <td><%= @task.finished_day.to_s(:datetime_jp) %></td>
  </tr>

  <tr>
   <th>終日かどうか</th>
   <td><%= @task.is_all_day %></td>
  </tr>

  <tr>
   <th>メモ</th>
   <td><%= @task.memo %></td>
  </tr>
 </table>
 
<div class = "edit-footer">
  <p><%= link_to"スケジュールの編集を行う",edit_task_path %></p>
  <p><%= link_to"スケジュール一覧画面に戻る",tasks_index_path %></p>
</div>
